/* GENERAL STYLES */
/* html{
  position: relative;
  height: 100vh;
} */

body {
  font-family: "Poppins", sans-serif;
  margin: auto;
  padding: 0;
  background-color: #f4f6f9;
  color: #333;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  align-self: center;
  position: relative;
}

/* HEADER */
header {
  align-items: center;
  justify-content: space-between;
  background-color: #0062b3;
  padding: 0px 30px;
  color: white;
  margin-bottom: 2rem;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  height: 90px;
}

.logo h1 {
  font-size: 1.7rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* LAYOUT */
.container {
  display: flex;
  max-height: 68vh;
  margin: 0 10vw;
}

/* SIDEBAR */
aside {
  width: 300px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  overflow: scroll;
}

aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside ul li {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, padding-left 0.3s;
}

aside ul li:hover {
  background: #e0f2ff;
  padding-left: 20px;
  color: #0056b3;
}

aside ul ul {
  padding-top: 2px;
  padding-left: 15px;
}

aside ul ul li {
  font-weight: normal;
  transition: background 0.3s, padding-left 0.3s;
}

aside ul ul li:hover {
  background: #f0f8ff;
  padding-left: 25px;
  color: #003f7f;
}

/* MAIN CONTENT */
main {
  flex: 1;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  overflow: scroll;
  /* max-width: 70vh; */
}

/* FOOTER */
footer {
  position: relative;
  text-align: center;
  background-color: #0056b3;
  color: white;
  margin-top: 2rem;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
    margin: 0 1rem;
    max-height: fit-content;
  }

  aside {
    width: 100%;
    margin-bottom: 15px;
  }

  main {
    margin-left: 0;
  }
}
